<form
  class="user-form-content"
  autocomplete="off"
>
  <div class="auth">
    <div class="auth-right-contant">
      <div class="auth-contant">
        <div class="auth-contant-panel">
            <img class="img-fluid pt-3" src="../../../assets/img/auth-icon/thanks-img.svg" alt="">
          <h1 class="auth-contant-heading pt-3">Thank You</h1>
          <small class="sub-heading text-center">
            We sent an email to <a class="link" href="javascript:volid();">homamhabib@pitajapro.com</a>
            Click confirmation link in the email to verify your account</small
          >
          <div class="auth-main-contant">
            <div class="mat-form-group w-100 mt-3 mb-0">
              <button class="button button-primary w-100" type="button" [routerLink]="['/auth/login']">
                Login
              </button>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
