
<h2 class="mat-module-title hedding mb-0 pl-3 pr-3" mat-dialog-title>{{title}}</h2>
<div mat-dialog-content class="mat-module-body">
  <p class="text mt-2 pl-3 pr-3">
    {{message}}
  </p>
</div>
<div class="mat-module-footer pl-3 pr-3" mat-dialog-actions [align]="'end'">
  <button mat-button-raised class="btn btn-default button button-default mr-3" type="button" (click)="action(false)">{{noButton}}</button>
  <button mat-button-raised class="btn btn-danger button button-danger" type="button" (click)="action(true)">{{yesButton}}</button>
</div>

