<form
  class="user-form-content"
  [formGroup]="loginForm"
  autocomplete="off"
  (ngSubmit)="login()"
>
  <div class="auth">
    <div class="auth-right-contant">
      <div class="auth-contant">
        <div class="auth-contant-panel">
          <h1 class="auth-contant-heading">Welcome to the Pitaja Pro</h1>
          <small class="sub-heading">
            Enter your details to proceed further</small
          >

          <div class="auth-main-contant">
            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Email </mat-label>
                <input
                  type="email"
                  class=""
                  matInput
                  formControlName="email"
                  [errorStateMatcher]="matcher"
                  placeholder="Email"
                />
                <mat-error
                  *ngIf="
                    f.email.errors
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <img
                  class="login-icon"
                  src="../../../assets/img/auth-icon/login-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>

            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Password </mat-label>
                <input
                  type="Password"
                  class=""
                  matInput
                  formControlName="password"
                  [errorStateMatcher]="matcher"
                  placeholder="Password"
                />
                <mat-error
                  *ngIf="
                    f.password.errors
                  "
                >
                  Please enter a valid password address
                </mat-error>
                <img
                  class="login-icon"
                  style="top: -3px"
                  src="../../../assets/img/auth-icon/password-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>

            <div class="mat-form-group w-100 mb-1">
              <!-- <label class="form-control-label whitecheck float-left mb-0" for="">
                <input
                  class="checkbox-input"
                  id="termscheckbox"
                  type="checkbox"
                  value="checkvb"
                />
                <label for="termscheckbox" class="checkbox-label-text mb-0">
                  <span class="user-terms-text">Remember me</span>
                </label>
              </label> -->
              <a href="javascript:volid:();"  [routerLink]="['/auth/forgot-password']" class="forgot-text float-right"
                >Forgot password?</a
              >
            </div>

            <div class="mat-form-group w-100 mt-4 mb-1">
              <button class="button button-primary w-100" type="submit" >
                Sigin In
              </button>
            </div>
            <div class="mat-form-group w-100 mt-2 mb-1 text-center">
              <!-- <span class="sign-up-text">Don’t have an account? <a [routerLink]="['../signup']"> Sign up</a></span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
