<form
  class="user-form-content"
  [formGroup]="loginForm"
  autocomplete="off"
>
  <div class="auth">
    <div class="auth-right-contant">
      <div class="auth-contant">
        <div class="auth-contant-panel">
            <img class="img-fluid pt-3 mb-3" style="height:199px;" src="../../../assets/img/auth-icon/thanks-img.svg" alt="">
          <h1 class="auth-contant-heading">Change Your Password</h1>
          <small class="sub-heading">
            Enter your details to proceed further</small
          >

          <div class="auth-main-contant">
            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Email </mat-label>
                <input
                  type="email"
                  class=""
                  matInput
                  [formControl]="emailFormControl"
                  [errorStateMatcher]="matcher"
                  placeholder="Email"
                />
                <mat-error
                  *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required')
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <img
                  class="login-icon"
                  src="../../../assets/img/auth-icon/login-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>

            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Password </mat-label>
                <input
                  type="Password"
                  class=""
                  matInput
                  [formControl]="emailFormControl"
                  [errorStateMatcher]="matcher"
                  placeholder="Password"
                />
                <mat-error
                  *ngIf="
                    emailFormControl.hasError('password') &&
                    !emailFormControl.hasError('required')
                  "
                >
                  Please enter a valid password address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <img
                  class="login-icon"
                  style="top: -3px"
                  src="../../../assets/img/auth-icon/password-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>

            <div class="mat-form-group w-100 mb-1">
              <label class="form-control-label whitecheck float-left mb-0" for="">
                <input
                  class="checkbox-input"
                  id="termscheckbox"
                  type="checkbox"
                  value="checkvb"
                />
                <label for="termscheckbox" class="checkbox-label-text mb-0">
                  <span class="user-terms-text">Remember me</span>
                </label>
              </label>
              <a href="javascript:volid:();" class="forgot-text float-right"
                >Forgot password?</a
              >
            </div>

            <div class="mat-form-group w-100 mt-4 mb-1">
              <button class="button button-primary w-100" type="button"  [routerLink]="['/auth/thank-you']">
                Change Password
              </button>
            </div>
            <div class="mat-form-group w-100 mt-2 mb-1 text-center">
              <span class="sign-up-text"
                >Don’t have an account? <a href="javascript:volid:();"> Sign up</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
