
.auth{
    &.auth-left-contant{
        display: block;
        width: 41%;
        position: fixed;
        padding: 0;
        overflow: hidden;
        left: 0;
        top: 0;
        bottom: 0;
    }
    &-contant{
        background: url(../../assets/img/auth-icon/auth-bg.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        max-width: 100%;
        min-height: 600px;
        width: 100%;   
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap; 
        .auth-hedding, .auth-text, .get-app{
            font-size: 1.6rem;
            color:#fff;
            font-weight: 600;
        }  
        .get-app{
            font-size: 0.86rem;
        }
        .auth-text{
            font-size: 0.86rem;
            font-weight: 400;
            color: #fff;
            padding: 5px 10%;
            text-align: center;
        }
        .auth-socal-icon{
            li{
                padding:0px 20px;
                display: flex;
                position: relative;
                &::after{
                    position:absolute;
                    top:5px;
                    right: 0px;
                    background-color:#8083A3;
                    width:1px;
                    height: 20px;
                    content: '';  
                }
                &:last-child::after{
                    display:none;
                }

            }
            display: flex;
        }

    }
}



