<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-md-5 col-sm-5 col-xs-12 float-left p-0">
      <div class="auth auth-left-contant">
        <div class="auth-contant pt-0 pb-3">
          <img class="img-fluid pt-5" src="../../assets/img/auth-icon/logo.svg" alt="">
          <div class="auth-frames pt-4">
            <img class="img-fluid" style="height:280px" src="../../assets/img/auth-icon/frame.svg" alt="">
          </div>

            <h1 class="auth-hedding">Join Pitaja Pro</h1>
            <p class="auth-text">Excellence in accounting. Fighting to reduce your tax. Focus on 
              growing your business, trust the accounting to us.</p>

              <h1 class="auth-hedding get-app mb-2">Get Apps</h1>
              <ul class="auth-socal-icon p-0">                
                <li><a href=""><img src="../../assets/img/auth-icon/apple-logo.svg" alt=""></a></li>
                <li><a href=""><img src="../../assets/img/auth-icon/play-store.svg" alt=""></a></li>
              </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-md-8 col-sm-8 col-xs-12 float-left full-show">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
