
 <div class="container-fluid">
 <div class="breadcrumb dashboard-row">
    <div class="col col-md-6 pl-0">
      <h2 class="breadcrumb-hedding m-0">Dashboard</h2>
      <span class="breadcrumb-text m-0">See insights on how your profile has changed from May 19 - June 19</span>
    </div>
    <div class="col col-md-6 pr-0 text-right">
      <!-- <div class="dropdown dropdown-years float-right ml-3">
        <button class="btn btn-years dropdown-toggle" type="button" id="dropdownSelectYears" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Years
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSelectYears">
          <a class="dropdown-item" href="javascript:volid();">2021</a>
          <a class="dropdown-item" href="javascript:volid();">2022</a>
          <a class="dropdown-item" href="javascript:volid();">2023</a>
          <a class="dropdown-item" href="javascript:volid();">2024</a>
          <a class="dropdown-item" href="javascript:volid();">2025</a>
        </div>
      </div> -->
      <!-- <ul class="filter filter-dashboard float-right m-0 p-0">
        <li class="filter-item">
          <a class="filter-item-link" href="">Yearly</a>
        </li>
        <li class="filter-item">
          <a class="filter-item-link active" href="">Monthly</a>
        </li>
        <li class="filter-item">
          <a class="filter-item-link" href="">Weekly</a>
        </li>
      </ul> -->
    </div>
  </div>
  <!-- End of Dashboard Breadcrumb section -->

  <div class="row pr-3">
    <div class="col-md-8 col-sm-8 col-xs-12 float-left pl-0">
      <div class="d-flex col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
        <div class="col-md-4 col-sm-4 col-xs-12 pr-0">
          <div class="card card-container">
            <div class="card-body card-body-box card-body-content pb-2">
              <div class="card-icon">
                <div class="avatar-lg d-flex align-items-center justify-content-left dashboard-icon mb-0">
                  <img src="../../../assets/img/web-icons/total-customer-icon.svg" alt=""/>
                </div>
              </div>
              <div class="card-total float-left pt-3">
                <div class="d-flex card-total-hedding h4 mb-0">
                  Total Customer
                </div>
                <strong class="d-flex card-total-value total-color font-weight-bold pt-1">{{totalCustomer}}</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 pr-0">
          <div class="card card-container">
            <div class="card-body card-body-box card-body-content pb-2">
              <div class="card-icon">
                <div class="avatar-lg d-flex align-items-center justify-content-left dashboard-icon mb-0 ">
                  <img src="../../../assets/img/web-icons/active-customer-icon.svg" alt=""/>
                </div>
              </div>
              <div class="card-total float-left pt-3">
                <div class="d-flex card-total-hedding h4 mb-0">
                  Active Customer
                </div>
                <strong class="d-flex card-total-value active-color font-weight-bold pt-1">{{totalActiveCustomer}}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 pr-0">
          <div class="card card-container">
            <div class="card-body card-body-box card-body-content pb-2">
              <div class="card-icon">
                <div class="avatar-lg d-flex align-items-center justify-content-left dashboard-icon mb-0">
                  <img src="../../../assets/img/web-icons/inactive-customer-icon.svg" alt=""/>
                </div>
              </div>
              <div class="card-total pt-3">
                <div class="card-total-hedding h4 mb-0">Inactive Customer</div>
                <strong class="d-flex card-total-value inactive-color font-weight-bold pt-1">{{totalInActiveCustomer}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 pr-0 pt-3">
        <div class="card card-container mb-3">
          <div class="card-body card-body-box p-3">

            <div class="graph graph-section">
              <!-- <img class="img-fluid" src="../../../assets/img/web-icons/dashboard-map.svg" alt=""/> -->
              <PPS-bar-chart></PPS-bar-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 float-left pl-0 pr-0">
      <div class="card card-container">
        <div class="card-body card-body-box p-3">
          <div class="title-text profile-topbar p-0 pb-4">
            <h2 class="mb-0 lagend-headding hedding">Recent Activity</h2>
            <div class="vendor search-section ml-0">
              <!-- <ul class="filter p-0 mb-0">
                <li class="filter-icon">
                  <a class="filter-icon-cell pt-1" data-toggle="tooltip" data-placement="top" title="Tooltip on top" href="javascript:volid();">
                    <strong>
                      <img src="../../../assets/img/web-icons/icon-color-filter.svg" alt=""/>
                    </strong>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-section float-left p-0">
            <div class="details-vendor">
              <div class="categories-list-view d-flex w-100">
                <div class="card w-100 mb-1 pt-0">
                  <!-- Starts of first Recent activity Section -->
                  <div class="card-body online recent-activity pl-0 pr-0 pb-2 mb-2 pt-0 d-flex m-0"  *ngFor="let item of userList">
                    <div class="rounded d-flex theme theme-color-1 mt-1">{{item.nameSymbol}}</div>
                    <div class="card-total float-left pt-0 pr-0 pl-3 w-100">
                      <div class="categories-name d-flex">
                        <div class="list-tag-text">{{item.firstName}} {{item.middleName}} {{item.lastName}}</div>
                        <div class="cart-list-box mt-2 pb-2 pl-0 pr-0">
                          <div class="list-cell pr-4">
                            <span>{{item.email}}</span>
                          </div>
                          <!-- <div class="list-cell pr-0">
                            <span class="font-weight-normal">(629) 555-0129</span>
                          </div> -->
                        </div>
                        <div class="cart-list-box mt-0 pb-0 pl-0 pr-0">
                          <div class="list-cell pr-4">
                            <span class="list-day-value">{{item.createdAt | date}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of theme color-1 Recent activity Section -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




