.breadcrumb{
    &-hedding, &-text{
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 32px;
        color:#2A2B38;        
    }
    &-text{
        font-size: 0.93rem;
        font-weight: 600;
        color: #8083A3;
    }
   .filter{
                list-style: none;
                background-color: #fff;
                border-radius: 3px;
                border: 1px solid #E2E2EA;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 49%;

       &-item{
           display: flex;
           position: relative;
           padding:0rem 0.44rem;
           &-link{
               color: #8083A3;
               font-size: 0.85rem;
               font-weight: 700;
               padding: 0.66rem 1rem;
               text-decoration:none;
               &:hover, &:focus{
                color: #0076BC;
                text-decoration: none;
               }
               &.active{
                color: #0076BC;
               }
           }
           &::after{
            position: absolute;
            content: "";
            right: 0px;
            top: 0.77rem;
            width: 1px;
            height: 17px;
            background-color: #E2E2EA;
           }
           &:last-child::after{
               display: none;
           }
       }
   }

   .dropdown-years{
            background: #0076BC;    
            border: 1px solid #E2E2EA;
            border-radius: 4px;           
            .btn-years{
                color: #fff;
                font-size: 0.93rem;
                font-weight: 600;
                padding: 0.5rem 1rem;
                &:hover, &:focus{
                    outline: none;
                    box-shadow: none;
                    color: #fff;
                }
            }
            .dropdown-menu{
                min-width:5.5rem;
                .dropdown-item{
                    color: #2A2B38;
                    font-size: 0.88rem;
                    font-weight: 600;
                    &.active, &:active{
                        color: #fff;
                        text-decoration: none;
                        background-color: #0076BC;
                    }
                }
            }
   }

}

.card-total{
    &-hedding{
     color: #2A2B38;
     font-size: 1.04rem;
     font-weight: 600;
    }
    &-value{    
     font-size: 1.6rem;
     &.total-color{
        color: #61A4E4;
     }
     &.active-color{
        color: #64C8BC;
     }
     &.inactive-color{
        color: #FF8A8A;
     }
    }
 }


.dashboard-row {
    align-items: center;
    background: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding: 1rem 0rem;
  }

  .lagend-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .leagend-color{
        padding:0px;
        display: flex;
        list-style: none;
        li{
            padding: 0px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .color{
                background: #ccc;
                width: 12px;
                height: 12px;
                display: flex;
                border-radius: 2px;
                &.active{
                    background: #00BCD8; 
                }
                &.inactive{
                    background: #0076BC;  
                }
            }
            .leagend-text{
                color: #2A2B38;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
  }








