
<form [formGroup]="uploadFile" (ngSubmit)="submit()">
  <h2 class="mat-module-title hedding mb-0 pl-3 pr-3" mat-dialog-title>Upload Document</h2>

  <div mat-dialog-content class="mat-module-body m-0">

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Folder List</mat-label>
      <mat-select formControlName="folderId">
        <mat-option *ngFor="let item of accountManagementInternalService.imageFolderList" [value]="item.id">
          {{item.displayName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.folderId.errors?.required">
          This is required.
      </mat-error>
    </mat-form-field>


    <div class="form-group">
      <!-- <label for="file">File</label> -->
      <input formControlName="file" id="file" type="file" class="form-control h-auto" (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger mt-2">
          <div *ngIf="f.file.errors?.required">File is required.</div>
      </div>
    </div>
  </div>
  <div class="mat-module-footer pl-3 pr-3" mat-dialog-actions [align]="'end'">
    <button mat-button-raised class="btn btn-default button button-default mr-3" type="button" mat-dialog-close>Cancel</button>
    <button mat-button-raised class="btn btn-danger button button-danger" >Submit</button>
  </div>
</form>

