<div class="container-fluid overflow-hidden p-0">
<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="30">
    <PPS-account-managment-list></PPS-account-managment-list>
  </div>
  <div fxFlex="70">
    <PPS-account-managment-detail></PPS-account-managment-detail>
  </div>
</div>
</div>
