<form
  class="user-form-content"
 [formGroup]="signupForm"
  autocomplete="off"
  (ngSubmit)="register()"
>
  <div class="auth">
    <div class="auth-right-contant">
      <div class="auth-contant">
        <div class="auth-contant-panel">
          <h1 class="auth-contant-heading">Create an Account</h1>
          <small class="sub-heading">
            Enter your details to proceed further</small
          >
          <div class="auth-main-contant">
            <div class="mat-form-group w-100 mb-1">
                <mat-form-field class="mat-input-form" appearance="fill">
                  <mat-label> Full Name </mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="firstName"
                    [errorStateMatcher]="matcher"
                    placeholder="full Name"
                  />
                  <mat-error>
                    Please enter a valid full Name
                  </mat-error>
                  <img style="top: -3px"
                    class="login-icon"
                    src="../../../assets/img/auth-icon/full-name-icon.svg"
                    alt=""
                  />
                </mat-form-field>
              </div>

            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Email </mat-label>
                <input
                  type="email"
                  class=""
                  matInput
                  formControlName="email"
                  [errorStateMatcher]="matcher"
                  placeholder="Email"
                />
                <mat-error>
                  Please enter a valid email address
                </mat-error>
                <img
                  class="login-icon"
                  src="../../../assets/img/auth-icon/login-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>

            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Password </mat-label>
                <input
                  type="Password"
                  class=""
                  matInput
                  formControlName="password"
                  [errorStateMatcher]="matcher"
                  placeholder="Password"
                />
                <mat-error>
                  Please enter a valid password address
                </mat-error>
                <img
                  class="login-icon"
                  style="top: -3px"
                  src="../../../assets/img/auth-icon/password-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>
            <div class="mat-form-group w-100 mb-1">
                <mat-form-field class="mat-input-form" appearance="fill">
                  <mat-label> Confirm Password </mat-label>
                  <input
                    type="Password"
                    class=""
                    matInput
                    formControlName="cnfPassword"
                    [errorStateMatcher]="matcher"
                    placeholder="Confirm Password"
                  />
                  <mat-error>
                    Please enter a valid Confirm Password
                  </mat-error>
                  <img
                    class="login-icon"
                    style="top: -3px"
                    src="../../../assets/img/auth-icon/password-icon.svg"
                    alt=""
                  />
                </mat-form-field>
              </div>
              <!-- <div class="mat-form-group w-100 mb-0">
                <mat-form-field class="mat-input-form" appearance="fill">
                  <mat-label> Mobile Number </mat-label>
                  <input
                    type="number"
                    class=""
                    matInput

                    placeholder="Mobile Number"
                  />
               <mat-error
                    *ngIf="
                      signupFormControl.hasError('name') &&
                      !signupFormControl.hasError('required')
                    "
                  >
                    Please enter a valid Mobile Number
                  </mat-error>
                  <mat-error *ngIf="signupFormControl.hasError('required')">
                    Mobile Number is <strong>required</strong>
                  </mat-error>
                  <img style="top: -3px"
                    class="login-icon"
                    src="../../../assets/img/auth-icon/phone-icon.svg"
                    alt=""
                  />
                </mat-form-field>
              </div> -->



            <div class="mat-form-group w-100 mb-0">
              <label class="form-control-label whitecheck float-left mb-0" for="">
                <input
                  class="checkbox-input"
                  id="signupCheckbox"
                  type="checkbox"
                  value="checkvb"
                  formControlName="verifyMe"
                />
                <label for="signupCheckbox" class="checkbox-label-text mb-0">
                  <span class="user-terms-text">I agree to the  <a href="javascript:volid:();" class="forgot-text"
                    >Terms & Conditions</a> and  <a href="javascript:volid:();" class="forgot-text"
                    >Privacy Policye</a></span>
                </label>
              </label>

            </div>

            <div class="mat-form-group w-100 mt-4 mb-0">
              <button class="button button-primary w-100" type="submit" >
                Sign Up
              </button>
            </div>
            <div class="mat-form-group w-100 mt-2 mb-1 text-center">
              <span class="sign-up-text"
                >Already have an account? <a href="javascript:volid:();" [routerLink]="['/auth/login']"> Sign In</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
