.auth {
    display: table;
    height: 100%;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
        &-right-contant {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          padding-top: 0px;
          padding-bottom: 20px;
          height:100vh;
          position: fixed;
          width: 59%;
          right: 0;
          top: 0;
          bottom: 0;
      .auth-contant { 
        background: #fff;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &-panel{
          margin: 2% auto;
          clear: both;
          width: 90%;
          max-width: 515px;  
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          align-content: center;    
        }
        &-heading, .sub-heading{
             font-size: 1.8rem;
              font-weight: 600;
              font-family: 'Roboto', sans-serif;
              color: #2c3a49;          
          }
              .sub-heading{
                  font-size: 0.9rem;
                  font-weight: 400;
                  color:#8083A3;
                  opacity: 0.8;
          }
      }
    }
  }
  
  .auth-main-contant{
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: center;
      align-items: center;
      width:77%;
      margin: 5% auto;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .forgot-text, .sign-up-text{
    text-align: right;
    text-decoration-line: underline;
    font-size: 0.87rem;
    font-weight: 600;
    color: #0076bc;
    &:hover, &:focus{
      text-decoration-line: none;
    }  
  }
  .sign-up-text{
    color: #9598b2;
    text-decoration-line: none;
   a{
    color: #0076bc;
    text-decoration-line: none;
    &:hover, &:focus{
      text-decoration-line: underline;
    } 
   }
  }
  
  
  .button {
    height: 44px;
    font-weight: 600;
  }