<form
  class="user-form-content"
  [formGroup]="resetPasswordForm"
  autocomplete="off"
  (ngSubmit)="resetPassword()"
>
  <div class="auth">
    <div class="auth-right-contant">
      <div class="auth-contant">
        <div class="auth-contant-panel">
            <img class="img-fluid pt-3 mb-3" style="height:199px;" src="../../../assets/img/auth-icon/thanks-img.svg" alt="">
          <h1 class="auth-contant-heading">Reset Your Password</h1>
          <small class="sub-heading">
            Enter your details to proceed further</small
          >

          <div class="auth-main-contant">
            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Password </mat-label>
                <input
                  type="password"
                  class=""
                  matInput
                  formControlName="password"
                  [errorStateMatcher]="matcher"
                  placeholder="Password"
                />
                <mat-error
                  *ngIf="
                    f.password.errors
                  "
                >
                  Please enter a valid password
                </mat-error>
                <img
                  class="login-icon"
                  src="../../../assets/img/auth-icon/password-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>

            <div class="mat-form-group w-100 mb-1">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Confirm Password </mat-label>
                <input
                  type="password"
                  class=""
                  matInput
                  formControlName="confirmPassword"
                  [errorStateMatcher]="matcher"
                  placeholder="Confirm Password"
                />
                <mat-error
                  *ngIf="f.confirmPassword.errors"
                >
                  Please enter a valid password address
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.errors?.notSame">
                  Password and confirm password is not matching.
                </mat-error>
                <img
                  class="login-icon"
                  style="top: -3px"
                  src="../../../assets/img/auth-icon/password-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>


            <div class="mat-form-group w-100 mt-4 mb-1">
              <button class="button button-primary w-100"  >
                Reset Password
              </button>
            </div>
            <!-- <div class="mat-form-group w-100 mt-2 mb-1 text-center">
              <span class="sign-up-text"
                >Don’t have an account? <a href="javascript:volid:();"> Sign up</a></span
              >
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
