<div class="account-detail d-flex" fxLayout="column">
  <div class="account-title pl-0 pr-0 pt-0 pb-0 mb-0">
    <div class="position-relative card-body online detail-topbar pl-3 pr-3 pb-0 mb-0 pt-2 d-flex m-0 ">
      <div class="rounded d-flex theme theme-color-1 mt-1">{{accountManagementInternalService.userData?.nameSymbol}}</div>

      <div class="card-total float-left position-relative pt-0 pr-0 pl-3 w-100">
        <div class="categories-name d-flex">
          <div class="list-tag-text">{{accountManagementInternalService.userData?.firstName}} {{accountManagementInternalService.userData?.middleName}} {{accountManagementInternalService.userData?.lastName}}</div>
          <div class="cart-list-box mt-2 pb-2 pl-0 pr-0">
            <div class="list-cell pr-4">
              <span>{{accountManagementInternalService.userData?.email}}</span>
            </div>
          </div>
        </div>
        <div class="list-action d-flex" *ngIf="accountManagementInternalService.userData">
          <a class="rate activate-rate mr-3" *ngIf="!accountManagementInternalService.userData?.isActive">Activate</a>
          <a class="rate activate-rate mr-3" *ngIf="accountManagementInternalService.userData?.isActive">Deactivate</a>
          &nbsp;
          <a class="rate activate-rate mr-0" (click)="uploadDocumenet()">Upload Documnet</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End of account title section -->
  <div class="col-md-12 col-sm-12 col-xs-12 float-left pl-0 d-none">
    <div class="account-empty pl-3 pr-3 pt-3 pb-2">
      <img
        class="img-fluid"
        src="../../../assets/img/brand/undraw-cloud-doc.svg"
        alt=""
      />
      <h2 class="account-empty-hedding hedding mt-5 mb-2">No more documents</h2>
      <span class="account-empty-text text-center" href="javascript:volid();"
        >Please capture documents for mobile app.</span
      >
    </div>
  </div>
  <!-- End of No more documents account section -->

  <!-- <button mat-button-raised class="btn btn-primary" (click)="deleteAction()">Delete</button> -->
  <div class="col-md-12 col-sm-12 col-xs-12 float-left pl-0 d-none">
    <div class="account-empty pl-3 pr-3 pt-3 pb-2">
      <img class="img-fluid" src="../../../assets/img/brand/undraw-cloud-doc.svg" alt=""/>
      <h2 class="account-empty-hedding hedding mt-5 mb-2">No more data</h2>
      <span class="account-empty-text text-center" href="javascript:volid();">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</span>
    </div>
  </div>
  <!-- End of No more data account empty section -->

  <div class="col-md-12 col-sm-12 col-xs-12 float-left p-0">
    <h2 class="pl-4 pt-3 pb-3 hedding">Folder ({{accountManagementInternalService.imageFolderList.length}})</h2>
    <div class="row d-flex flex-wrap align-content-start">
      <div class="col-md-2 col-sm-2 col-xs-12" *ngFor="let item of accountManagementInternalService.imageFolderList">
        <div class="d-flex justify-content-center align-items-center flex-column" (click)="method_for_click_select_folder(item)">
          <div class="account-detail-folder d-flex justify-content-center align-items-center mb-2">
            <img class="img-fluid" src="{{imageURL}}{{item.url}}" alt="">
          </div>
          <h3 class="account-detail-folder-hedding hedding text-center">{{item.displayName}}</h3>
          <span class="account-detail-folder-text  text text-center">{{item.count}} items</span>
        </div>
      </div>  
    </div>

   <h2 class="pl-4 pt-5 pb-3 hedding">Documents (Bills & Recipts)</h2>
   <div class="d-flex flex-wrap align-content-start">
    <div class="col-md-3 col-sm-3 col-xs-12" *ngFor="let item of accountManagementInternalService.imageAllFileList">
      <div class="d-flex justify-content-center align-items-center flex-column mb-3">        
        <div class="account-detail-folder book d-flex justify-content-center align-items-center mb-2">
          <!-- <img class="document-img img-fluid" [src]="item.fullUrl" alt=""> -->
            <iframe [src]="item.fullUrl | domSanitizerPipe: 'resourceUrl'" width="100%" height="100%"></iframe>
            <div class="account-detail-folder book details p-2">
              <a href="{{item.fullUrl}}" target="_blank">
                <h3 class="account-detail-folder-hedding hedding text-left mb-1">{{item.displayName}}</h3>
                <span class="account-detail-folder-text  text text-left">{{item.createdAt | date}}</span>
              </a>
            </div>
        </div>
      </div>
    </div>
    <!-- End of No pdf section -->

    </div>
    <!-- End of No folder section -->




</div>
