.account-detail{
    height: 100%;

    &-folder{
        width:104px;
        height:104px;
        background: #F1F1F5;
        border-radius: 8px;
        &.book{
            width:100%;
            min-height: 201px;
            max-height: 201px;
            position: relative;
            overflow: hidden;
            background: #f5f5f5;
            .document-img{
                height: 100%;
            }
            &.details{
                background: rgb(0 0 0 / 63%);
                position: absolute;
                bottom: 0px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                min-height: 65px;
                max-height: 4rem;
                .hedding{
                    color: #fff;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    float: left;
                    max-width: 150px;
                    min-width: 100%;
                    overflow: hidden;
                }
                .text{
                    color: #fff;
                }
            }

        }
        &-hedding{
            font-size:0.89rem;
            font-weight: 600;
        }
        &-text{
           font-size:0.79rem;
           font-weight: 600;
        }
        
    }
}