
<form [formGroup]="createAccountForm" (ngSubmit)="createAccount()">
<h2 class="mat-module-title hedding mb-0 pl-3 pr-3 pb-3" mat-dialog-title>Create Account</h2>

<div mat-dialog-content class="mat-module-body m-0">
    <div class="row">
       <div class="col">

    <div class="form-group mb-0">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" matInput
        [errorStateMatcher]="matcher"
        formControlName="firstName">
      <mat-error>
          First Name is required
      </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group mb-0">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label> Last Name</mat-label>
        <input type="text" matInput
        [errorStateMatcher]="matcher"
        formControlName="lastName">
        <mat-error>
          First Name is required
      </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group mb-0">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput
        [errorStateMatcher]="matcher"
        formControlName="email">
      <mat-error>
        Please enter valid email address
      </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group mb-0">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput
        [errorStateMatcher]="matcher"
        formControlName="password">
      <mat-error>
          Please enter valid password.
      </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group mb-0">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput
        [errorStateMatcher]="matcher"
        formControlName="cnfPassword">
      <mat-error>
          Confirm password is not valid.
      </mat-error>
      </mat-form-field>
    </div>

  </div>
</div>
</div>
<div class="mat-module-footer pl-3 pr-3" mat-dialog-actions [align]="'end'">
  <button mat-button-raised class="btn btn-default button button-default mr-3" type="button" mat-dialog-close>Cancel</button>
  <button mat-button-raised class="btn btn-danger button button-danger" >Submit</button>
 
</div>
</form>

