<form
  class="user-form-content"
  autocomplete="off"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="forgotPassword()"
>
  <div class="auth">
    <div class="auth-right-contant">
      <div class="auth-contant">
        <div class="auth-contant-panel">
            <img class="img-fluid pt-3" src="../../../assets/img/auth-icon/forgot-password-img.svg" alt="">
          <h1 class="auth-contant-heading pt-3">Forgot Your Password</h1>
          <small class="sub-heading text-center">
            Enter the email address you registered with and we'll
            send you instructions to reset your password.</small
          >
          <div class="auth-main-contant">

            <div class="mat-form-group w-100 mb-0">
              <mat-form-field class="mat-input-form" appearance="fill">
                <mat-label> Email </mat-label>
                <input
                  type="email"
                  class=""
                  matInput
                  formControlName="email"
                  placeholder="Email"
                />
                <mat-error
                  *ngIf="
                    f.email.errors
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <img
                  class="login-icon"
                  src="../../../assets/img/auth-icon/login-icon.svg"
                  alt=""
                />
              </mat-form-field>
            </div>


            <div class="mat-form-group w-100 mt-3 mb-0">
              <button class="button button-primary w-100" type="submit" >
                Reset Password
              </button>
            </div>
            <div class="mat-form-group w-100 mt-2 mb-1 text-center">
              <span class="sign-up-text"
                >Or <a href="javascript:volid:();" [routerLink]="['/auth/login']"> Sign In</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
