.card-header{
    background-color:transparent;
    .card-header-actions{
        .docs-link{
            background: #3f51b5;
            padding: 3px 8px;
            border-radius: 2px;
            small{
                color: #fff;

            }
            &:hover, &:focus{
                background: #3646a0;
            }
        }
    }
}