<div class="card">
  <div class="card-header border-0 pt-0 pl-0 pb-4">
    <strong>User Activity</strong>
    <!-- <div class="card-header-actions">
      <a class="docs-link text-muted" href="http://www.chartjs.org">
        <small>Docs</small>
      </a>
    </div> -->
  </div>
  <div class="card-body p-0">
    <div class="chart-wrapper">
      <canvas baseChart class="chart"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColours"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
