<div class="p-0 m-0">
  <div class="col-md-12 col-sm-12 col-xs-12 float-left p-0">
    <div class="account account-section p-0">
      
          <div class="account-title pl-3 pr-3 pt-3 pb-2 mb-3">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxFlex="88">
            <h2 class="account-title-hedding hedding">Account Managment</h2>
            <span class="account-title-link link" href="javascript:volid();">User ({{userList.length}})</span>
          </div>
          <div fxFlex="12">
            <button mat-mini-fab class="add-btn" (click)="createAccount()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
       
      </div>

      <!-- End of account title section -->

      <div class="account-empty pl-3 pr-3 pt-3 pb-2 d-none">
        <img class="img-fluid" src="../../../assets/img/brand/user-group-icon.svg" alt=""/>
        <h2 class="account-empty-hedding hedding">No more user</h2>
        <span class="account-empty-text text-center" href="javascript:volid();">Reference site about Lorem Ipsum, giving information on its origins.</span>
      </div>
      <!-- End of account empty section -->

      <div class="title-text profile-topbar pl-3 pr-3 pb-4" fxLayout="row" fxLayoutAlign="space-between">
        <div class="search ml-0" fxFlex="85">
          <input type="text" placeholder="Search by name, email..." debounce [delay]="700" (func)="method_for_getting_User()" [(ngModel)]="searchUser" class="search-input form-control form-control-sm ml-20"/>
        </div>
        <!-- <div fxFlex="15" class="vendor search-section ml-0 d-flex justify-content-end">
          <ul class="filter p-0 mb-0">
            <li class="filter-icon" >
              <a class="filter-icon-cell pt-1" [matMenuTriggerFor]="filterMenu" href="javascript:volid();">
                <strong>
                  <img src="../../../assets/img/web-icons/icon-color-filter.svg" alt=""/> 
                </strong>
              </a>
              <mat-menu class="list-submenu" #filterMenu="matMenu">
                <a class="list-submenu-item" mat-menu-item> <img class="mr-1" src="../../../../assets/img/brand/sort-a-to-z.svg" alt=""> Sort A to Z</a>
                <a class="list-submenu-item" mat-menu-item><img class="mr-1" src="../../../../assets/img/brand/sort-z-to-a.svg" alt=""> Sort Z to A</a>
                <a class="list-submenu-item" mat-menu-item><mat-icon class="mr-1">filter_list</mat-icon> Recent</a>
              </mat-menu>
            </li>
          </ul>
        </div> -->
      </div>
      <!-- End of the Search by name, email and number -->

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-section float-left p-0">
        <div class="details-vendor">
          <div class="categories-list-view d-flex w-100">
            <div class="card w-100 mb-1 pt-0" >
              <!-- Starts of first Recent activity Section -->
              <div class="scrolle-section" *ngFor="let item of userList" >
                <div (click)="method_for_chnage_data_list(item)" class="row position-relative card-body online flex-nowrap pl-3 pr-3 pb-2 mb-2 pt-2 m-0" [ngClass]="{'active': item.isSelected}" >
                  <div class="col-1 rounded d-flex theme theme-color-1 mt-1">{{item.nameSymbol}}</div>

                  <div class="col-11 card-total float-left position-relative pt-0 pr-0 pl-3 w-100">
                    <div class="categories-name d-flex">
                      <div class="list-tag-text">{{item.firstName}} {{item.middleName}} {{item.lastName}}</div>
                      <div class="cart-list-box mt-2 pb-2 pl-0 pr-0">
                        <div class="list-cell pr-4">
                          <span>{{item.email}}</span>
                        </div>
                        <!-- <div class="list-cell pr-0">
                          <span class="font-weight-normal">(629) 555-0129</span>
                        </div> -->
                      </div>
                      <div class="cart-list-box mt-0 pb-0 pl-0 pr-0">
                        <div class="list-cell pr-4">
                          <span class="list-day-value">{{item.createdAt | date}}</span>
                        </div>
                      </div>
                    </div>
                   <div class="list-action d-flex">
                    <!-- <span class="rate mr-3">3</span> -->
                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="list-dropdwon mat-dropdown-menu" aria-label="">
                        <mat-icon>more_horiz</mat-icon>
                      </button>
                    <mat-menu class="list-submenu" #beforeMenu="matMenu">
                      <a class="list-submenu-item deactive" mat-menu-item (click)="activateUser(item)" *ngIf="!item.isActive">
                        <span class="mr-1"><img class="img-fluid" style="height:23px;"  src="../../../.../../../assets/img/brand/stop.svg" alt=""></span>Activate
                      </a>
                      <a class="list-submenu-item deactive" mat-menu-item (click)="deleteAction(item)" *ngIf="item.isActive">
                          <span class="mr-1"><img class="img-fluid" style="height:23px;"  src="../../../.../../../assets/img/brand/stop.svg" alt=""></span>Deactivate
                      </a>
                    </mat-menu>
                </div>
                  </div>

                </div>
              </div>
              <!-- End of theme color-1 recent activity section -->
            </div>
          </div>
        </div>
      </div>
      <!-- End of the account aist section -->

    </div>
  </div>
</div>

<!-- <button mat-button-raised class="btn btn-primary" (click)="deleteAction()">
  Delete
</button> -->
