/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import "./variable.scss";
@import "~angular-notifier/styles";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

/*======= Style the customize scrollbar bar ========*/
::-webkit-scrollbar {
  width: 5px;
  background: #eee;
  width: 5px;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: var(--theme-background);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-background);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--theme-background);
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
  background: var(--theme-background);
  outline: 1px solid rgba(239, 246, 253, 0.75);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--theme-background);
}

// ------Style the Custom checkbox
.checkbox-input {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    .user-terms-text {
      font-size: $globle-text-second;
      font-weight: 600;
    }
  }

  // Box.
  & + label:before {
    content: "";
    margin-right: 6px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: $color-white;
    border: 1px solid $color-grey;
    border-radius: $border-radius;
  }

  // Box hover
  &:hover + label:before {
    background: transparent;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.034);
  }

  // Box checked
  &:checked + label:before {
    background: var(--theme-background);
    border: 1px solid transparent;
  }

  // Disabled state label.
  &:disabled + label {
    color: var(--placeholder-color);
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: $color-dark-light;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 9px;
    background: $color-white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 $color-white, 4px 0 0 $color-white,
      4px -2px 0 $color-white, 4px -4px 0 $color-white, 4px -6px 0 $color-white,
      4px -8px 0 $color-white;
    transform: rotate(45deg);
  }
}

.form-group .input-element:focus,
.form-group .input-element:hover {
  border: 1px solid var(--theme-background);
}
.form-group .input-element.is-invalid {
  border: 1px solid $color-alert;
}

.form-control-label .checkbox-label-text {
  .label-text {
    margin-bottom: 1em;
  }
}

// ------ End Custom checkbox styles

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid $color-dark-light;
  border-radius: 100%;
  background: $color-white;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--theme-background);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
// ------ End Custom radio styles

.form-group {
  &-label {
    font-size: 0.8rem;
  }
}

.input-element {
  outline: none;
  box-shadow: none;
  color: var(--input-color);
  flex: auto;
  height: 42px;
  background: $color-light-grey;
  border: 1px solid var(--input-border);
  font-size: $globle-text-second;
  border-radius: $border-radius;
  max-width: 100%;
  position: relative;
  padding: 8px 8px;
  width: 100%;
  &:hover,
  &:focus {
    border: 1px solid var(--input-border);
    box-shadow: none;
    outline: none;
  }
  &::placeholder {
    color: var(--placeholder-color);
    font-size: $globle-text-second;
  }
}

.mat-input-form {
  width: 100%;
  .mat-form-field-infix {
    padding: 0.5em 0;
    border-top: 0.5em solid transparent;
    .mat-form-field-label {
      font-size: 0.9rem;
      top: 1.4em;
      font-weight: 500;
    }
    .mat-input-element {
      font-size: 0.9rem;
      font-weight: 500;
      background: transparent !important;
    }
  }
  .mat-form-field-underline {
    display: none;
  }
  &.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 4px 4px;
    padding: 0.75em 0.75em 0 3em;
  }
}
.mat-form-group {
  position: relative;
  .login-icon {
    position: absolute;
    top: 0px;
    left: -35px;
  }
}
.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-fill.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  transform: translateY(-0.89375em) scale(0.75);
}
.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0rem !important;
}
// End Mat and input style css

// ------Style the Button
.button {
  height: 36px;
  font-weight: 400;
  box-shadow: none;
  outline: none;
  padding: 8px 10px;
  color: $color-white;
  border-radius: $border-radius;
  border-color: transparent;
  transition: all 0.4s ease-in-out 0s;
  justify-content: center;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
  }
  &.button-primary {
    background: var(--theme-background);
    &:hover,
    &:focus {
      background: var(--button-primary-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-secondary {
    background: var(--button-secondary);
    &:hover,
    &:focus {
      background: var(--button-secondary-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-danger {
    background: var(--button-danger);
    &:hover,
    &:focus {
      background: var(--button-danger-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-success {
    background: var(--button-success);
    &:hover,
    &:focus {
      background: var(--button-success-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-default {
    background: transparent;
    border: 1px solid #dcdcdc;
    color: var(--secondary-text-color);
    padding: 8px 8px;
    &:hover,
    &:focus {
      background-color: #f5f5f5;
      transition: all 0.2s ease-in-out 0s;
    }
  }

  &.disabled {
    background: var(--button-disabled);
    border: 1px solid var(--border-disabled);
    color: var(--secondary-text-color);
    &:hover,
    &:focus {
      background: var(--button-disabled);
      transition: all 0.2s ease-in-out 0s;
    }
  }

  &.btn-group {
    background-color: #fbfbfb;
    border: 1px solid #ced4da;
    em.fa {
      color: #333;
      font-size: $globle-text;
    }
    &:hover,
    &:focus {
      background-color: #f5f5f5;
      outline: none;
      box-shadow: none;
    }
  }
}
.strong-text {
  font-weight: $font-bold;
}

// breadcrumb style
.breadcrumb {
  padding: 0.3rem 1rem;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  &.breadcrumb-row {
    align-items: center;
  }
}
// card style
.card {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  .card-body{
    &-box{
      border: 1px solid #E2E2EA;
      border-radius: 4px;
    }
   
  }
  &.card-container {
    border-radius: 0.25rem;
  }
  .card-body-content {
    transition: all 0.2s;
    &:hover,
    &:focus {
      box-shadow: 0 0 11px 0 hsl(215deg 9% 64% / 22%);
      transition: all 0.4s;
    }
  }
}
.hedding {
  color: $color-primary;
  font-size: 1rem;
  font-weight: 700;
}
.link {
  font-size: 0.86rem;
  font-weight: 600;
  color: #0076bc;
}

.text {
  color: $color-secondary;
  line-height: 24px;
  font-weight: 600;
}
// List style css

.profile-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .filter {
    &-icon {
      display: flex;
      &-cell {
        background: $color-white;
        border: 1px solid #e2e2ea;
        border-radius: 4px;
        padding: 10px;
        &:hover,
        &:focus {
          background: #f1f1f5;
          border: 1px solid #e2e2ea;
        }
      }
    }
  }
}
.details-vendor {
  border-top: none;
  overflow-y: auto;
}
.categories-list-view {
  max-height: 100%;
  min-height: auto;
}
.online {
  border-bottom: 1px solid #d5d5dc;
  min-height: 80px;
  &.recent-activity{
    &:hover, &.active{
      background: rgba(97, 165, 228, 0);
    }
  }

  &:hover, &.active{
    background: rgba(97, 164, 228, 0.2);
  }
    &.detail-topbar{
      min-height: 75px;
      border-bottom:0px;
      &:hover{
        background: $color-white;
      }
      .list-action{
        right:0px;
        .rate{
          &.activate-rate{
          width: auto;
          height: auto;
          border-radius: 4px;
          padding: 6px 12px;
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 600;

          &:hover{
            color: $color-white;
            background: #1fb5a4;
            text-decoration: none;
          }
        }

        }
      }
}

}
.online-tag-text {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  color: #2b2b2bc2;
}
.theme {
  justify-content: center;
  align-items: center;
  background: #e8e8e8;
  width: 50px;
  height: 45px;
  border: 1px solid #d5d5dc;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0.89rem;
  font-weight: 700;
  &-color-1 {
    background: rgba(0, 118, 188, 0.15);
    border: 1px solid rgba(0, 118, 188, 0.15);
    color: #0076bc;
  }
  // &-color-2 {
  //   background: rgba(255, 169, 88, 0.2);
  //   border: 1px solid rgba(255, 169, 88, 0.2);
  //   color: #ffa958;
  // }
  // &-color-3 {
  //   background: rgba(0, 188, 216, 0.15);
  //   border: 1px solid rgba(0, 188, 216, 0.15);
  //   color: #00bcd8;
  // }
}
.categories-box {
  min-height: 100vh;
  max-height: 100%;
  overflow-y: auto;
  border-right: 1px solid #d5d5dc;
}

.categories-name {
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  min-width: 100%;

  align-items: flex-start;
  .list-tag-text {
    color: $color-primary;
    font-size: 0.89rem;
    font-weight: 600;
  }
}
.online-tag-text {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  color: #2b2b2bc2;
}
.cart-list-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .list-cell {
    color: #2b2b2b;
    font-size: 0.83rem;
    font-weight: 500;
    position: relative;
    height: 17px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    .custom-select-profile {
      height: calc(1.2em + 0.75rem + 2px);
      border: none;
      color: #49d3cc;
      font-weight: 500;
      padding-left: 1px;
      background-color: transparent;
      border: none;
    }

    .list-day-value {
      color: $color-secondary;
    }
    &::after {
      background-color: #E2E2EA;
      width:8px;
      height:8px;
      position: absolute;
      right: 8px;
      top: 5px;
      content: "";
      border-radius: 50%;
    }
    &:last-child::after {
      background-color: transparent;
    }
  }
}

// Starts Account Managment Styles CSS
.account {
  &.account-section {
    background: white;
    border-right: 1px solid #e2e2ea;
    padding: 0px;
    z-index: 10000;
    width: 100%;
    height: 100vh;
  }
  &-title {
    border-bottom: 1px solid #e2e2ea;
    background-color: $color-white;
    &-hedding {
      font-size: 1rem;
    }
    &-link {
      text-decoration: none;
      font-size: 0.89rem;
      font-weight: 700;
      &:hover,
      &:focus {
        text-decoration: none;
        box-shadow: none;
        outline: none;
        color: #0076bc;
      }
    }
  }
  &-empty {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    &-hedding {
      font-size: 1.5rem;
    }
    &-text {
      color: $color-secondary;
      opacity: 0.8;
      line-height: 24px;
      font-weight: 400;
      width: 65%;
    }
  }
}

// Search input style CSS
.search-input {
  background-image: url(./assets/img/web-icons/search.svg);
  background-position: 6px center;
  background-repeat: no-repeat;
  border: 1px solid $color-grey;
  border-radius: 4px;
  font-size: 14px;
  min-height: 41px;
  padding-left:2.3rem;
   &:hover, &:focus{
     box-shadow: none;
     outline: none;
   }
}
.list-action{
          position: absolute;
          top: 0px;
          right: 0px;
          .rate{
            background: #64C8BC;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            color:$color-white;
            font-size: 0.75rem;
            text-align: center;
            padding: 3px;
          }
  .mat-icon-button{
    &.list-dropdwon{
          width: 40px;
          height: auto;
          flex-shrink: 0;
          line-height: normal;
          border-radius: 0;
          &:hover, &:focus{
            box-shadow: none;
            outline: none;
            border:none;
          }
          .mat-icon{
            color:#8083A3;
          }
        }
     }
}


 .mat-menu-panel{
  &.list-submenu{
    .mat-menu-item{
      line-height: 44px;
      height: auto;
      &:hover, &:focus{
        box-shadow: none;
        outline: none;
        border:none;
      }
      &.deactive{
        color: #FF8A8A;
        font-size:1.01rem;
        &:hover{
          background: rgba(255, 138, 138, 0.2);
        }
      }
      &.logout{
        color: #FF8A8A;
        font-size:1.01rem;
        &:hover{
          background: rgba(255, 138, 138, 0.2);
        }
      }
    }
  }
}
.mat-dialog-container{
    padding:15px 0px 24px !important;
    overflow: inherit !important;
}
.mat-dialog-actions{
  &.mat-module-footer{
      border-top:1px solid #E2E2EA;
  }
}

// ------Style the Button
.button {
  height: 36px;
  font-weight: 400;
  box-shadow: none;
  outline: none;
  padding: 8px 10px;
  color: $color-white;
  border-radius: $border-radius;
  border-color: transparent;
  transition: all 0.4s ease-in-out 0s;
  justify-content: center;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: none;
  }
  &.button-primary {
    background: var(--theme-background);
    &:hover,
    &:focus {
      background: var(--button-primary-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-secondary {
    background: var(--button-secondary);
    &:hover,
    &:focus {
      background: var(--button-secondary-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-danger {
    background: var(--button-danger);
    &:hover,
    &:focus {
      background: var(--button-danger-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-success {
    background: var(--button-success);
    &:hover,
    &:focus {
      background: var(--button-success-hover);
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.button-default {
    background: transparent;
    border:1px solid #E2E2EA;
    color: var(--secondary-text-color);
    padding:8px 16px;
    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      background-color: #f5f5f5;
      transition: all 0.2s ease-in-out 0s;
    }
  }

  &.disabled {
    background: var(--button-disabled);
    border: 1px solid var(--border-disabled);
    color: var(--secondary-text-color);
    &:hover,
    &:focus {
      background: var(--button-disabled);
      transition: all 0.2s ease-in-out 0s;
    }
  }

  &.btn-group {
    background-color: #fbfbfb;
    border: 1px solid #ced4da;
    em.fa {
      color: #333;
      font-size: $globle-text;
    }
    &:hover,
    &:focus {
      background-color: #f5f5f5;
      outline: none;
      box-shadow: none;
    }
  }
}
.strong-text {
  font-weight: $font-bold;
}


/* Loader css start here */
.loader_wrapper {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
}

.loader {
  border: 10px solid #e2e2e2; /* Light grey */
  border-top: 10px solid #FF8A8A; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100000;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loader css end here */

.add-btn.mat-mini-fab{
  box-shadow: none;
  background-color: var(--button-danger);
  &:hover, &:focus, &:active{
    box-shadow: none !important;
    outline: none;
    background-color:var(--button-danger-hover);
  }
}
/* Add button css end here */