<nav class="sidenav float-left" id="sidebar">
    <div class="scroll-wrapper w-100">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand mr-0" href="javascript:;">
          <img src="../../assets/img/web-icons/sidebar-logo-icon.svg" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner sidebar-inner">
          <!-- Nav items -->
          <ul class="navbar-nav nav">
            <li class="nav-item">
              <a class="nav-link dashboard" [routerLink]="['/home/dashboard']"  routerLinkActive="active" role="button">
              </a>
            </li>
              <li class="nav-item">
                <a class="nav-link account-management" [routerLink]="['/home/account-managment']"  routerLinkActive="active" role="button">
                </a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link logout" (click)="logout()" role="button">
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link star"  role="button">
                    <img src="../../assets/img/web-icons/star.svg" alt="">
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link star" href="#" role="button">
                    <img src="../../assets/img/web-icons/star.svg" alt="">
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link star" href="#" role="button">
                    <img src="../../assets/img/web-icons/star.svg" alt="">
                </a>
              </li> -->
          </ul>

          <ul class="navbar-nav nav nav-bottom">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" role="button">
                <img src="../../assets/img/web-icons/star.svg" alt="">
              </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link nav-user" [matMenuTriggerFor]="filterMenu" role="button">
                 <span>HH</span>
                </a>
                <mat-menu class="list-submenu logout-dropdown" #filterMenu="matMenu">
                  <!-- <a mat-menu-item class="list-submenu-item"> <img class="mr-1" src="../../assets/img/web-icons/user.svg" alt=""> User Profile</a> -->
                  <a mat-menu-item class="list-submenu-item logout"  (click)="logout()"><img class="mr-1" src="../../assets/img/web-icons/logout.svg" alt=""> Log out</a>
                </mat-menu>
              </li>
          </ul>
      </div>
  </div>
</nav>

<!-- End of left sidenav section -->
<div class="body-home-bg">
<div class="container-fluid p-0">
<router-outlet></router-outlet>
</div>
</div>

