#sidebar{
    width:84px;
    height:100vh;
    min-height: 100%;
    background-color: #2A2B38;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
   .sidenav-header{
         justify-content: center;
         padding: 1rem 0rem 1rem;
       .navbar-brand{
            &-img{
                height:auto;
            }
       }
   }

   .nav{
       padding-top: 0rem;
       padding-bottom: 1rem;
       &-item{
        padding:6px 16px 6px;
        .nav-link{
            padding:12px 12px;
            text-align: center;
            font-size: 0.85em;
            height: 52px;
            width: 100%;
            background-repeat: no-repeat;
            border: 1px solid #2a2b3800;
            box-sizing: border-box;
            border-radius: 8px;
            &:hover{
                border: 1px solid #0076BC;
                box-sizing: border-box;
                border-radius: 8px;
            }
            &.dashboard{
                background-image: url(../../assets/img/web-icons/nav-dashboard-icon.svg);
                background-position: center center;
                &:hover, &.active{
                    background-image: url(../../assets/img/web-icons/dashboard-icon.svg);
                    border: 1px solid #0076BC;
                }
            }
            &.logout{
                background-image: url(../../assets/img/auth-icon/login-icon.svg);
                background-position: center center;
                &:hover, &.active{
                    background-image: url(../../assets/img/auth-icon/login-icon.svg);
                    border: 1px solid #0076BC;
                }
            }
            &.account-management{
              background-image: url(../../assets/img/web-icons/nav-user-group-icon.svg);
              background-position: center center;
              &:hover, &.active{
                  background-image: url(../../assets/img/web-icons/nav-user-group-icon-hover.svg);
                  border: 1px solid #0076BC;
              }
           }
            &.active{
                border: 1px solid #0076BC;
                box-sizing: border-box;
                border-radius: 8px;
            }
            &.nav-user{
                border: 1px solid #0076BC;
                box-sizing: border-box;
                border-radius: 50%;
                width: 48px;
                height: 48px;
                background-color: #00bcd829;
                font-weight: 700;
                color:#00BCD8;
            }
        }

     }
     .sidebar-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
     }
     &.nav-bottom{
        bottom: 0px;
        position: absolute;
     }
   }

.scroll-wrapper{
    overflow-y: auto;
}
}
.body-home-bg{
    background-color: #F5F5F5;
    display: flex;
    padding-left: 84px;
}

